
body {
    /*background-image: url("seantransparent.jpg");*/
	background-color: #000000;
	background-size: cover;
}

#pagewrap {
	width: 100%;
	background-color: #ffffff;
}

#mainbanner {
	height: 120px;
	width: 100%;
	background-color: #fffff;
}

#mainbody {
	background-color: #ffffff;
}

#textleft, #photosright {
	display: inline-block;
}

#mainbody {
	
}

#footer {
	background-color: #ffffff;
}

#divider {
	height: 10px;
	background-color: #000000;
}
