
body {
    background-image: url("seantransparent.jpg");
	background-size: cover;
}

#pagewrap {
	background-color: #ffffff;
}

#mainbanner {
	width: 100%
	background-color: #ffffff;
}

#mainbody {
	background-color: #000000;
}

#textleft, #photosright {
	display: inline-block;
}
